*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'louis-cafe';
    src: url(./fonts/louis-cafe.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'DMsans';
    src: url(./fonts/DMsans.ttf);
    font-style: normal;
    font-weight: normal;
}


header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    background-color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.7s;
    z-index: 10;
}

a{
    text-decoration: none;
    color: black;
}


header.abajo{

    padding-top: 3px;
    padding-bottom: 20px;
}


.menu ul{
    display: flex;
    margin-left: 30px;
}

.menu ul li{
    color: white;
    margin-top: 34px;
    font-family: 'louis-cafe';
    margin-right: 40px;
    list-style: none;

}

.menu ul li a{
    -webkit-transition: 0.3s;
}

.menu ul li a:hover{
    color:rgb(255, 166, 0);
    font-size: 20px;
    
}

.logo{
    margin-right: 30px;
    margin-top: 22px;

}

body{
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(25px);
}


.filters {
    font-family: 'louis-cafe';
    margin-top: 150px;
    float: left;
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
}

.filters h3 {
    margin-bottom: 10px;
}

.filters h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.filters ul {
    list-style-type: none;
    padding: 0;
}

.filters li {
    margin-bottom: 10px;
}

.catalog {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    font-family: 'louis-cafe';
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.item img {
    border-radius: 20px;
    border: 1px solid rgb(255, 170, 12) ;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.item h3 {
    margin-bottom: 10px;
}

.item button {
    background-color: #f3ad45;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.status {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
}

.open {
    color: #4CAF50;
}

.closed {
    color: #FF0000;
}
