*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'louis-cafe';
    src: url(./fonts/louis-cafe.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'DMsans';
    src: url(./fonts/DMsans.ttf);
    font-style: normal;
    font-weight: normal;
}


header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.0));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.7s;
    z-index: 10;
}

a{
    text-decoration: none;
    color: white;
}


header.abajo{

    padding-top: 3px;
    padding-bottom: 20px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.0));
}


.menu ul{
    display: flex;
    margin-left: 30px;
}

.menu ul li{
    color: white;
    margin-top: 34px;
    font-family: 'louis-cafe';
    margin-right: 40px;
    list-style: none;

}

.menu ul li a{
    -webkit-transition: 0.3s;
}

.menu ul li a:hover{
    color:rgb(255, 166, 0);
    font-size: 20px;
    
}

.logo{
    margin-right: 30px;
    margin-top: 22px;

}

body{
    background-image: url(../img/restaurantes/paz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(25px);
}