*{
    margin: 0;
    padding: 0;
}

@-webkit-keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }
@-moz-keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }
@-o-keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }
@-ms-keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }
@keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }

.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    -o-animation:fadeIn ease-in 1;
    -ms-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    -ms-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -o-animation-duration:1s;
    -ms-animation-duration:1s;
    animation-duration:1s;
  }

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'louis-cafe';
    src: url(./fonts/louis-cafe.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'DMsans';
    src: url(./fonts/DMsans.ttf);
    font-style: normal;
    font-weight: normal;
}

header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    background: linear-gradient(rgb(172, 238, 255), rgb(172, 238, 255));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.7s;
    z-index: 10;
}

a{
    text-decoration: none;
    color: black;
}


header.abajo{

    padding-top: 3px;
    padding-bottom: 20px;
}

.menu ul{
    display: flex;
    margin-left: 30px;
}

.menu ul li{
    color: black;
    margin-top: 34px;
    font-family: 'louis-cafe';
    margin-right: 40px;
    list-style: none;

}

.menu ul li a{
    -webkit-transition: 0.3s;
}

.menu ul li a:hover{
    color:rgb(255, 166, 0);
    font-size: 20px;
    
}



body{
    background-color: #FF9100 ;
}

.container-fluid{
    margin-top: 150px;
}

h1{
    font-family: 'louis-cafe';
    text-align: center;
    font-size: 200px;
}

.row{
    font-family: 'louis-cafe'; 
    
}

body {
    text-align: center;
  }

p{
    font-size: 25px;
    text-align: center;
}
  .text-orange {
    font-size: 40px;
    margin-top: 180px;  
    margin-bottom: 110px;
    color: black;
  }
  
  

  