*{
    margin: 0;
    padding: 0;
}

@-webkit-keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }
@-moz-keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }
@-o-keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }
@-ms-keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }
@keyframes fadeIn { 0% { opacity:0; } 100% { opacity:1; } }

.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    -o-animation:fadeIn ease-in 1;
    -ms-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    -ms-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -o-animation-duration:1s;
    -ms-animation-duration:1s;
    animation-duration:1s;
  }

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'louis-cafe';
    src: url(./fonts/louis-cafe.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'DMsans';
    src: url(./fonts/DMsans.ttf);
    font-style: normal;
    font-weight: normal;
}

a{
    text-decoration: none;
    color: white;
}



header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.0));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.7s;
    z-index: 10;
}

header.abajo{
    padding-top: 3px;
    padding-bottom: 20px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.0));
}

body{
    background-image: url(../img/Fondo\ general.jpeg);
    background-attachment:fixed;
}

.menu ul{
    display: flex;
    margin-left: 30px;
}

.menu ul li{
    color: white;
    margin-top: 34px;
    font-family: 'louis-cafe';
    margin-right: 40px;
    list-style: none;

}

.menu ul li a{
    -webkit-transition: 0.3s;
}

.menu ul li a:hover{
    color:rgb(255, 166, 0);
    font-size: 20px;
    
}

.logo{
    margin-right: 30px;
    margin-top: 22px;

}

video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    width: 100%;
    height: auto;
  }

footer{
    background-color: #FF9100;
    padding-left: 15%;
    width: 100%;
}

footer img{
    width: 70%;
}

.redes{
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(rgb(243, 146, 0), rgb(255, 123, 0));
}

footer .telefono:hover{
    color:rgb(255, 166, 0);
    font-size: 15px;
}

footer .redes a:hover{
    color:rgb(255, 166, 0);
}

footer .telefono{
    margin-top: 10px;
    color: white;
    font-family: 'louis-cafe';
    font-size: 13px;
    -webkit-transition: 0.3s;
}

footer .redes{
    font-size: 25px;
}

footer .redes a{
    margin-right: 15px;
    -webkit-transition: 0.3s;
}

.intro{
    font-family: 'DMsans';
    color: white;
    margin-top:400px;
    font-size: 50px;
    padding-left:30px;
    padding-top:50px;
    padding-bottom: 50px;
    -webkit-transition: 0.3s;
}

.intro:hover{
    padding-left: 40px;
}

.intro h2{
    margin-left: 110px;
}

h1{
    color: white;
}

h3{
    color: white;;
}

.primerasec h1 {
   text-align: center;
}
.primerasec h3 {
    text-align: center;
}
.primerasec{
    margin-top: 370px;
    padding-top: 200px;
    padding-bottom: 150px;
    font-size: 30px;
    font-family: 'DMsans';

    text-align: center;
}
 
.primerasec img {
    position: absolute;
    z-index: -2;
    top: 890px;
    right: 1px;
    z-index: -2;
    width: 100%;
    height: auto;
}
 iframe{
    display: inline-block;
    margin-top: 80px;
    width: 1000px;   
    height: 800px;
 }

 .redes{
    color: white;
    font-size: 30px;
    font-family: 'DMsans';
    text-align: center;
 }


.social-icons {
    right: 20px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .icon {
    opacity: .5;
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    background-size: cover;
  }
  
  .social-icons{
    font-size: 30px;
  }

  .social-icons #instagram:hover{
    opacity: 1;
    transition: .5s;
    color: rgb(247, 14, 103);
  }

  .social-icons #facebook:hover{
    opacity: 1;
    transition: .5s;
    color: rgb(0, 78, 245);
  }

  .social-icons #twitter:hover{
    opacity: 1;
    transition: .5s;
    color: rgb(0, 135, 245);
  }

  .social-icons #youtube:hover{
    opacity: 1;
    transition: .5s;
    color: rgb(255, 14, 14);
  }

  .inicio{
    margin-left: 5%;
    margin-top: 10%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inicio h1{
    font-size: 50px;
    color: #212121;
    font-family: 'DMsans' ;
    margin-left: 205px;
}

.inicio h2{
    margin-right: 120px;
    margin-top: 10px;
    font-family: 'DMsans';
}

.inicio .imagen1 img{
    margin-bottom: 100px;
    margin-right: 90px;
    height: 800px;
    border-radius: 20px;
}




.inicio2{
    margin-left: 5%;
    margin-top: 10%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inicio2 h1{
    font-size: 50px;
    color: #212121;
    font-family: 'DMsans' ;
    margin-left: 50px;
}

.inicio2 h2{    
    margin-left: 150px;
    font-family: 'DMsans';
}

.inicio2 .imagen2 img{
    margin-bottom: 100px;   
    height: 800px;
    border-radius: 20px;
}

.menu-2{
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-2 img{

    margin: 20px;
    width: 30%;
    transition: .5s;
}

.menu-2 img:hover{
    cursor: pointer;
}

.menu-2 div{
        position: relative;
}

.menu-2 h3{
    position: absolute;
}
