*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'louis-cafe';
    src: url(./fonts/louis-cafe.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'DMsans';
    src: url(./fonts/DMsans.ttf);
    font-style: normal;
    font-weight: normal;
}


header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.0));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.7s;
    z-index: 10;
}

a{
    text-decoration: none;
    color: white;
}


header.abajo{

    padding-top: 3px;
    padding-bottom: 20px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.0));
}


.menu ul{
    display: flex;
    margin-left: 30px;
}

.menu ul li{
    color: white;
    margin-top: 34px;
    font-family: 'louis-cafe';
    margin-right: 40px;
    list-style: none;

}

.menu ul li a{
    -webkit-transition: 0.3s;
}

.menu ul li a:hover{
    color:rgb(255, 166, 0);
    font-size: 20px;
    
}

.logo{
    margin-right: 30px;
    margin-top: 22px;

}

body{
    background-image: url(../img/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(25px);
}

.comp .titulo{
    font-size: 25px;
    color: white;
    font-family: 'louis-cafe';
}

.comp{
    padding-top: 150px;
    justify-content: center;
    text-align: center;
}


.comp .info .articulo{
    display: flex;
    font-family: 'louis-cafe';
}

.comp .info .articulo img{
    margin: 10px;
    border-radius: 10px;
}

.comp .info .articulo .info-art{
    text-align: left;
    margin-top: 15px;
}

.comp .info .articulo .info-art h1{
    font-size:55px;
    margin-top: 30px;
    margin-left: 20px;
}

.comp .info .articulo .info-art h4{
    margin-left: 23px;
}

.comp .info .articulo .info-art p{
    margin-left: 20px;
    margin-top: 20px;
    font-size:18px;
    margin-bottom: 24px;;
}

.comp .info .articulo .info-art p2{
    margin-left: 20px;
    color: rgba(12, 12, 12, 0.849);

}

.comp .info{
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.9);
}

.clasificacion{
    margin-right: 20px;
    margin-top: 20px;
    font-size: 30px;
}
  
input[type="radio"] {
    display: none;
}

.boton input{
    color:white;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 166, 0);
    padding:20px;
}

.boton input:hover{
    background-color: rgb(255, 145, 0);
    cursor: pointer ;
}

.boton{
    position: absolute;
    margin-left: 20px;
    margin-top: 30px;
}


  
label {
    color: grey;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}
  
label:hover,
label:hover ~ label {
    color: orange;
}
  
input[type="radio"]:checked ~ label {
    color: orange;
}
